__pycache__/model_fed.cpython-37.pyc
__pycache__/model_fed.cpython-38.pyc
__pycache__/model_res.cpython-37.pyc
__pycache__/model_res.cpython-38.pyc
__pycache__/options.cpython-36.pyc
__pycache__/options.cpython-37.pyc
__pycache__/options.cpython-38.pyc
__pycache__/options.cpython-39.pyc
__pycache__/sampling.cpython-37.pyc
__pycache__/sampling.cpython-38.pyc
__pycache__/similarity.cpython-37.pyc
__pycache__/similarity.cpython-38.pyc
cifar_lt/cifar-10-batches-py/data_batch_1
__pycache__
output
model/__pycache__/build_model.cpython-36.pyc
model/__pycache__/build_model.cpython-37.pyc
model/__pycache__/build_model.cpython-38.pyc
model/__pycache__/build_model.cpython-39.pyc
model/__pycache__/efficientnet.cpython-37.pyc
model/__pycache__/efficientnet.cpython-38.pyc
model/__pycache__/efficientnet.cpython-39.pyc
model/__pycache__/effutil.cpython-37.pyc
model/__pycache__/effutil.cpython-38.pyc
model/__pycache__/effutil.cpython-39.pyc
model/__pycache__/model_fed.cpython-36.pyc
model/__pycache__/model_fed.cpython-37.pyc
model/__pycache__/model_fed.cpython-38.pyc
model/__pycache__/model_fed.cpython-39.pyc
model/__pycache__/model_res_official.cpython-37.pyc
model/__pycache__/model_res_official.cpython-38.pyc
model/__pycache__/model_res_official.cpython-39.pyc
model/__pycache__/model_res.cpython-37.pyc
model/__pycache__/model_res.cpython-38.pyc
model/__pycache__/model_res.cpython-39.pyc
mytools/visualization/0.png
mytools/visualization/1.png
mytools/visualization/2.png
mytools/visualization/3.png
mytools/visualization/4.png
mytools/visualization/5.png
mytools/visualization/6.png
mytools/visualization/7.png
mytools/visualization/8.png
mytools/visualization/9.png
mytools/visualization/10.png
mytools/visualization/11.png
mytools/visualization/12.png
mytools/visualization/13.png
mytools/visualization/14.png
mytools/visualization/15.png
mytools/visualization/16.png
mytools/visualization/17.png
mytools/visualization/18.png
mytools/visualization/19.png
mytools/visualization/20.png
mytools/visualization/21.png
mytools/visualization/22.png
mytools/visualization/23.png
mytools/visualization/24.png
mytools/visualization/25.png
mytools/visualization/26.png
mytools/visualization/27.png
mytools/visualization/28.png
mytools/visualization/29.png
mytools/visualization/30.png
mytools/visualization/31.png
mytools/visualization/32.png
mytools/visualization/33.png
mytools/visualization/34.png
mytools/visualization/35.png
mytools/visualization/36.png
mytools/visualization/37.png
mytools/visualization/38.png
mytools/visualization/39.png

.idea/fl_framework.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
cifar_lt/cifar-10-python.tar.gz
cifar_lt/cifar-100-python.tar.gz
cifar_lt/cifar-10-batches-py/batches.meta
cifar_lt/cifar-10-batches-py/data_batch_2
cifar_lt/cifar-10-batches-py/data_batch_3
cifar_lt/cifar-10-batches-py/data_batch_4
cifar_lt/cifar-10-batches-py/data_batch_5
cifar_lt/cifar-10-batches-py/readme.html
cifar_lt/cifar-10-batches-py/test_batch
cifar_lt/cifar-100-python/file.txt~
cifar_lt/cifar-100-python/meta
cifar_lt/cifar-100-python/test
cifar_lt/cifar-100-python/train
data/MNIST/processed/test.pt
data/MNIST/processed/training.pt
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
runs_tensorboard/events.out.tfevents.1663140801.psdz
runs_tensorboard/pid_activ/events.out.tfevents.1663140940.psdz
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep1_lr0.03_N20_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.0001_N20_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.001_N20_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.0001_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.001_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N20_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N20_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N20_10_seed1_p1_dirichlet0.5_IF0.02_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N20_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N20_10_seed1_p1_dirichlet0.5_IF1.0_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N40_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N3_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N4_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N10_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_10_seed1_p1_dirichlet0.5_IF1.0_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.02_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF1.0_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.1_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.02_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.05_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF1.0_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N5_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N5_10_seed1_p1_dirichlet1_IF0.5_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N5_10_seed1_p1_dirichlet20_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N10_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N20_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep500_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.02_LossCE.txt
temp/fl_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.005_LossCE.txt
temp/fl_acc_cifar10_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar10_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.05_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep1_lr0.0001_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep1_lr1e-05_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.01_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.1_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N10_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF1.0_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed3407_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_100_seed1_p1_dirichlet0.5_IF1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.05_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.05_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter1000_ep5_lr0.05_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter1500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter1500_ep5_lr0.03_N20_100_seed3407_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet50_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_acc_cifar100_resnet50_cons_frac0.2_iidFalse_iter1500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.02_N40_10_seed1_p1_dirichlet1.0_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.02_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.1_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.02_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.02_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_LP_0.01_acc_cifar10_resnet18_cons_frac0.2_iidTrue_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.02_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.1_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.217_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF0.39146_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF1.0_LossCE.txt
temp/fl_LP_0.01_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF100.0_LossCE.txt
temp/fl_LP_0.02_acc_cifar100_resnet34_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N20_100_seed1_p1_dirichlet0.5_IF100.0_LossCE.txt
temp/fl_LP_1.00_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.01_LossCE.txt
temp/fl_LP_1.00_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.1_LossCE.txt
temp/fl_LP_1.00_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.02_LossCE.txt
temp/fl_LP_1.00_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet1.0_IF0.05_LossCE.txt
temp/global_fl_acc_cifar10_resnet18_cons_frac0.2_iidFalse_iter500_ep5_lr0.03_N40_10_seed1_p1_dirichlet0.5_IF0.01_LossCE.txt
temp/todo1_3shot.log
temp/todo1.log
temp/todo2_3shot.log
temp/todo2.log
temp/todo3_3shot.log
temp/todo3.log
temp/todo4_3shot.log
temp/todo4.log
temp/todo5_3shot.log
temp/todo5.log
temp/todo6_3shot.log
temp/todo6.log
