/output
/util/__pycache__
/temp
/runs_tensorboard
/pfed_lastest/mytools/__pycache__
/pfed_lastest/model/__pycache__
/data
/cifar_lt
/.idea
/__pycache__
/mytools/visualization
/mytools/__pycache__
/model/__pycache__
fedrod_noseed_backup.log
fedrod_noseed.log
fedrod_save.log
fedrod_seed_bigweightdecay.log
fedrod_weightdecay.log
/output_fix
/output1
/output_cifar10
/output_cifar100_nofix
/output_aggre
/output_main_cifar100
/output_nospar